<!-- reset-password.html -->
<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<form action="/reset-password" method="post">
  <input type="text" name="token" th:value="${token}">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirmPassword">New Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required>
  <label th:value="${messerror}"></label>
  <button type="submit">Reset Password</button>
</form>
</body>
</html>
