<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: dynamic(~{::main})}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>
	</head>
    </head>
	<body>
		<main>
			<!-- SECTION -->
			<div class="section" th:object="${item}">
				<input type="hidden" name="idCate" th:value="${item.category.name}" />
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- Product main img -->
						<div class="col-md-5 col-md-push-2">
							<div id="product-main-img" style="display: block;">
								<th:block th:each="img :${images}">
									<div class="product-preview">
										<img th:src="@{${img}}" alt="">
									</div>
								</th:block>
							</div>
						</div>
						<!-- /Product main img -->

						<!-- Product thumb imgs -->
						<div class="col-md-2  col-md-pull-5">
							<div id="product-imgs">
								<th:block th:each="img :${images}">
									<div class="product-preview">
										<img th:src="@{${img}}" alt="">
									</div>
								</th:block>
							</div>
						</div>
						<!-- /Product thumb imgs -->

						<!-- Product details -->
						<div class="col-md-5">
							<div class="product-details">
								<h2 name="nameProduct" class="product-name">[[*{name}]]</h2>
								<div>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<a class="review-link" href="#">10 Review(s) | Add your review</a>
								</div>
								<div>
									<h3 class="product-price">[[*{currentprice}]]<del class="product-old-price">    [[*{price}]]</del></h3>

								</div>
								<p> [[*{description}]]</p>
								<br>
								<div class="add-to-cart">
									<button th:attr="ng-click=@{|cart.add(${item.id})|}"
											class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
								</div>

								<ul class="product-btns">
									<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
									<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
								</ul>

								<ul class="product-links">
									<li>Category:</li>
									[[*{category.name}]]
								</ul>

								<ul class="product-links">
									<li>Share:</li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-envelope"></i></a></li>
								</ul>

							</div>
						</div>
						<!-- /Product details -->

						<!-- Product tab -->
						<div class="col-md-12" style="margin-top: -200px;">
							<div id="product-tab">
								<!-- product tab nav -->
								<ul class="tab-nav">
									<li class="active"><a data-toggle="tab" href="#tab1">Detail</a></li>
									<li><a data-toggle="tab" href="#tab2">Reviews ([[*{review_count}]])</a></li>
								</ul>
								<!-- /product tab nav -->

								<!-- product tab content -->
								<div class="tab-content">
									<!-- tab1  -->
									<div id="tab1" class="tab-pane fade in active">
										<div class="row">
											<div class="col-md-12">
												<p> [[*{description}]]</p>
											</div>
										</div>
									</div>
									<!-- /tab1  -->
									<!-- tab2  -->
									<div id="tab2" class="tab-pane fade in">
										<div class="row">
											<!-- Rating -->
											<div class="col-md-2">
												<div id="rating">
													<div class="rating-avg">
														<span th:text="${item.rating_average}"></span>
														<div class="rating-stars">
															<span th:each="i : ${#numbers.sequence(1, 5)}">
																<i th:if="${item.rating_average >= i}" class="fa fa-star"></i>
																<i th:if="${(item.rating_average < i) && (item.rating_average >= (i-0.5))}" class="fa fa-star-half-o"></i>
<!--																<i th:if="${item.rating_average < (i-0.5)}" class="fa fa-star-o"></i>-->
															</span>
														</div>
													</div>

													<ul class="rating">
														<li>
															<div class="rating-stars">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
															</div>

															<span class="sum">3</span>
														</li>
														<li>
															<div class="rating-stars">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o"></i>
															</div>

															<span class="sum">2</span>
														</li>
														<li>
															<div class="rating-stars">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
															</div>

															<span class="sum">0</span>
														</li>
														<li>
															<div class="rating-stars">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
															</div>

															<span class="sum">0</span>
														</li>
														<li>
															<div class="rating-stars">
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
																<i class="fa fa-star-o"></i>
															</div>

															<span class="sum">0</span>
														</li>
													</ul>
												</div>
											</div>
											<!-- /Rating -->

											<!-- Reviews -->
											<div class="col-md-6">
												<div id="reviews">
													<ul class="reviews" th:each=" r : ${reviews}">
														<li>
															<div class="review-heading">
																<h5 class="name" th:text="${r.name_reviewer}"></h5>
																<p class="date" th:text="${r.create_date}"></p>
																<div class="review-rating">
																	<!-- Loop to generate star icons based on quanity_star value -->
																	<th:block th:each="star : ${#numbers.sequence(1, 5)}">
																		<i class="fa" th:classappend="${star &lt;= r.quanity_star} ? 'fa-star' : 'fa-star-o empty'"></i>
																	</th:block>
																</div>
																<span th:text="${r.quanity_star}"></span>
															</div>
															<div class="review-body">
																<p th:text="${r.contents}"></p>
															</div>
														</li>
													</ul>
													<ul class="reviews-pagination">
														<li th:if="${currentPage > 0}">
															<a th:href="@{|/product/detail/${item.id}?page=0&idcate=${item.category.id}|}" >&laquo;</a>
														</li>
														<li th:if="${currentPage > 1}">
															<a th:href="@{|/product/detail/${item.id}?page=${currentPage-1}&idcate=${item.category.id}|}">&lsaquo;</a>
														</li>
														<li th:each="pageNum : ${#numbers.sequence(currentPage-1, currentPage +2)}"
															th:if="${pageNum > 0 and pageNum < totalPages}"
															th:classappend="${pageNum == currentPage} ? active">
															<a th:href="@{|/product/detail/${item.id}?page=${pageNum}&idcate=${item.category.id}|}" th:text="${pageNum}" class="page-link"></a>
														</li>
														<li th:if="${currentPage < totalPages-1}">
															<a th:href="@{|/product/detail/${item.id}?page=${currentPage+1}&idcate=${item.category.id}|}">&rsaquo;</a>
														</li>
														<li th:if="${currentPage < totalPages-1}">
															<a th:href="@{|/product/detail/${item.id}?page=${totalPages-1}&idcate=${item.category.id}|}">&raquo;</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- /Reviews -->

											<!-- Review Form -->
											<div class="col-md-3">
												<div id="review-form">
													<form class="review-form"  th:action="@{/reviews}" method="post" >
														<input type="hidden" name="idProduct" th:value="${item.id}" />
														<input type="hidden" th:value="${item.category.id}" name="idcate">
														<input class="input" name="nameReviewer" type="text" placeholder="Your Name">
														<input class="input" name="emailReviewer" type="email" placeholder="Your Email">
														<textarea class="input" name="contents" placeholder="Your Review"></textarea>
														<div class="input-rating">
															<span>Your Rating: </span>
															<div class="stars">
																<input id="star5" name="rating5" value="5" type="radio"><label for="star5"></label>
																<input id="star4" name="rating4" value="4" type="radio"><label for="star4"></label>
																<input id="star3" name="rating3" value="3" type="radio"><label for="star3"></label>
																<input id="star2" name="rating2" value="2" type="radio"><label for="star2"></label>
																<input id="star1" name="rating1" value="1" type="radio"><label for="star1"></label>
															</div>
														</div>
														<button class="primary-btn">Submit</button>
													</form>
												</div>
											</div>
											<!-- /Review Form -->
										</div>
									</div>
									<!-- /tab3  -->
								</div>
								<!-- /product tab content  -->
							</div>
						</div>
						<!-- /product tab -->
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /SECTION -->

			<!-- Section -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12">
							<div class="section-title text-center">
								<h3 class="title">Related Products</h3>
							</div>
						</div>
						<!-- product -->
						<div class="col-md-3 col-xs-6" th:each="lated : ${latedList}">
							<div class="product">
								<div class="product-img">
									<img th:src="@{|${lated.thumbnail_url}|}" alt="">
									<div class="product-label">
										<span class="sale">-30%</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category" th:text="${lated.category.name}"></p>
									<h3 class="product-name"><a href="#" th:text="${lated.name}"></a></h3>
									<h4 class="product-price" th:text="${lated.price}"> <del class="product-old-price" th:text="${lated.price}+10"></del></h4>
									<div class="product-rating">
									</div>
									<div class="product-btns">
										<a th:href="@{|/product/detail/${lated.id}?idcate=${item.category.id}|}"><i class="fa fa-eye"></i> See more...
										</a>
										<a ><i class="fa-solid fa-thumbs-up"></i> Like
										</a>
									</div>
								</div>
								<div class="add-to-cart">
									<button th:attr="ng-click=@{|cart.add(${lated.id})|}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
								</div>
							</div>
						</div>
						<!-- /product -->
						<div class="clearfix visible-sm visible-xs"></div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /Section -->
		</main>
	<script>
		const toastTrigger = document.getElementById('liveToastBtn')
		const toastLiveExample = document.getElementById('liveToast')
		if (toastTrigger) {
			toastTrigger.addEventListener('click', () => {
				const toast = new bootstrap.Toast(toastLiveExample)

				toast.show()
			})
		}
	</script>
	</body>
</html>
