<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: dynamic(~{::main})}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>store</title>

</head>
<body>
<main>
    <!-- SECTION -->

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categories</h3>
                        <div class="checkbox-filter">
                            <div class="input-checkbox">
                                <label>
                                    <a href="/products">Tất cả các loại</a>
                                </label>
                            </div>
                            <div class="input-checkbox" th:each="c : *{cates}">
                                <label>
                                    <a class="dropdown-item"
                                       th:href="@{|/products?cid=${c.id}&name=${name}&page=${currentPage}&min_price=${min_price}&max_price=${max_price}|}">
                                        [[${c.name}]]</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <form method="get" th:action="@{/products}">
                                <!--                            <div id="price-slider"></div>-->
                                <input type="hidden" name="cid" th:value="${cid}">
                                <input type="hidden" name="page" th:value="${currentPage}">
                                <input type="hidden" th:value="${name}">
                                <div class="input-number price-min">
                                    <input id="price-min" th:value="${min_price}" placeholder="Min" name="min_price" type="number">
                                </div>
                                <span>-</span>
                                <div class="input-number price-max">
                                    <input id="price-max" th:value="${max_price}" placeholder="Max" name="max_price" type="number">
                                </div>
                                <br> <br>
                                <button style="width: 100%;"
                                        type="submit" class="btn btn-danger"> Filter
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Top selling</h3>
                        <div th:each="bs : ${bestseller}" class="product-widget">
                            <div class="product-img">
                                <img th:src="@{|${bs.thumbnail_url}|}" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-name"><a href="#" th:text="${bs.name}"></a></h3>
                                <h4 hidden="hidden" class="product-price"
                                    th:text="${bs.currentprice}"> <del th:text="${bs.price}"></del> </h4>
                                <h4 class="product-price"
                                    th:text="${bs.formatCurrent_Price}"> <del th:text="${bs.formatPrice}"></del> </h4>
                            </div>
                        </div>
                    </div>
                    <!--	 /aside Widget-->
                </div>
                <!-- /ASIDE -->
                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="header-search">
                        <form method="get" th:action="@{/products}">
                            <input type="hidden" name="cid" th:value="${cid}">
                            <input type="hidden" name="page" th:value="${currentPage}">
                            <input  th:value="${min_price}" name="min_price" type="hidden">
                            <input  th:value="${max_price}" name="max_price" type="hidden">
                            <input style="width: 84%; border-radius: 15px 0px 0px 15px;" type="text" id="searchTerm"
                               th:value="${name}"
                               name="name" class="input" placeholder="Search here">
                            <button style="color: white;background-color: #de1313; height: 40px; border: none;
                                width: 128px; border-radius: 0px 15px 15px 0px; font-weight: bold" type="submit"
                                class="search-btn">Search
                            </button>
                            <div id="suggestions"></div>
                            <script>

                                $(document).ready(function() {
                                    $('#searchTerm').on('input', function() {
                                        var keyword = $(this).val();

                                        if (keyword.length >= 4) {
                                            $.ajax({
                                                url: '/suggest',
                                                type: 'GET',
                                                data: { name: keyword },
                                                success: function(response) {
                                                    $('#suggestions').text(response);
                                                }
                                            });
                                        } else {
                                            $('#suggestions').empty();
                                        }
                                    });
                                });
                            </script>
                        </form>
                    </div>
                    <div class="store-filter clearfix">
                    </div>
                    <!-- /store top filter -->
                    <!-- store products -->
                    <div class="row">
                        <!-- product -->
                        <div class="col-md-4" th:each="p : ${items}">
                            <div class="product">
                                <div class="product-img">
                                    <img src="" th:src="@{|${p.thumbnail_url}|}" alt="">
                                    <div class="product-label">
                                        <span th:if="${p.discount > 0}" class="sale" th:text="${p.discount + '%'}">Sale</span>
                                        <span class="new">New</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category" th:text="${p.category.name}"></p>
                                    <h3 class="product-name" th:text="${p.name}"></h3>
                                    <h4 hidden="hidden" class="product-price" th:text="${p.currentprice}"> </h4>
                                    <div>
                                        <h4 class="product-price" th:text="${p.formatCurrent_Price}"> </h4>
                                        <del th:if="${p.discount > 0}" th:text="${p.formatPrice}"></del>
                                        <div style="height: 20px;" th:if="${p.discount == 0}"></div>
                                    </div>
                                    <div class="product-rating">
                                        <div class="rating-stars"><span th:each="i : ${#numbers.sequence(1, 5)}"> <i
                                                th:if="${p.rating_average >= i}" class="fa fa-star"
                                                style="color: red;"></i> <i
                                                th:if="${(p.rating_average < i) && (p.rating_average >= (i-0.5))}"
                                                class="fa fa-star-half-o" style="color: red;"></i> </span></div>
                                    </div>
<!--                                    <input type="hidden" th:value="${p.category.id}" name="idcate">-->
                                    <div class="product-btns">
                                        <a th:href="@{|/product/detail/${p.id}?idcate=${p.category.id}|}"><i
                                                class="fa fa-eye"></i> See more...
                                        </a>
                                        <a><i class="fa-solid fa-thumbs-up"></i> Like
                                        </a>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button th:attr="ng-click=@{|cart.add(${p.id})|}" class="add-to-cart-btn"><i
                                            class="fa fa-shopping-cart"></i> add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                        <input type="hidden" name="cid" th:value="${cid}">
                    </div>
                    <!-- /store products -->
                    <div class="store-filter clearfix">
                        <ul class="store-pagination">
                            <!-- Add this code to conditionally add first/previous page links -->
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{|/products?page=0&name=${name}&cid=${cid}&min_price=${min_price}&max_price=${max_price}|}">&laquo;</a>
                            </li>
                            <li th:if="${currentPage > 1}">
                                <a th:href="@{|/products?page=${currentPage-1}&name=${name}&cid=${cid}&min_price=${min_price}&max_price=${max_price}|}">&lsaquo;</a>
                            </li>
                            <!-- Add this code to display page links -->
                            <li th:each="pageNum : ${#numbers.sequence(currentPage-1, currentPage +4)}"
                                th:if="${pageNum > 0 and pageNum < totalPages}"
                                th:classappend="${pageNum == currentPage} ? active">
                                <a th:href="@{|/products?page=${pageNum}&name=${name}&cid=${cid}&min_price=${min_price}&max_price=${max_price}|}"
                                   th:text="${pageNum}" class="page-link"></a>
                            </li>
                            <!-- Add this code to conditionally add last/next page links -->
                            <li th:if="${currentPage < totalPages-2}">
                                <a th:href="@{|/products?page=${currentPage+1}&name=${name}&cid=${cid}&min_price=${min_price}&max_price=${max_price}|}">&rsaquo;</a>
                            </li>
                            <li th:if="${currentPage < totalPages-1}">
                                <a th:href="@{|/products?page=${totalPages-1}&name=${name}&cid=${cid}&min_price=${min_price}&max_price=${max_price}|}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</main>
<script>


</script>
</body>

</html>
