<!DOCTYPE html>
<html lang="en" th:replace="~{/assert/admin-ctrl/account/index.html :: dynamic(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="animsition" th-fragment="">
<div class="page-wrapper">
    <!-- MAIN CONTENT-->
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg " ng-controller="account-ctrl">
                            
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                  </div>
                </div>
                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Account ID</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product ID</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Create Date</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User Id</th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr ng-repeat="order in pagerOrder.orders">
                          <td>
                            <div class="d-flex px-2 py-1">
                           
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">123</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0">Programator</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <!-- <span class="badge badge-sm bg-gradient-secondary">{{order.createDate}}</span> -->
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                          </td>
                          <td class="align-middle">
                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              Edit
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </main>
    
</div>
</div>
<div class="card-footer text-center">
    <button class="btn btn-danger" ng-click="pager.first()" type="button">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </button>
    <button class="btn btn-primary" ng-click="pager.prev()" type="button">
        <i class="fa-solid fa-backward"></i>
    </button>
    <span class="btn btn-warning">
			<i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
		</span>
    <button class="btn btn-primary" ng-click="pager.next()" type="button">
        <i class="fa-solid fa-forward"></i>
    </button>
    <button class="btn btn-danger" ng-click="pager.last()" type="button">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </button>
</div>
</body>
</html>