USE [master]
GO
/****** Object:  Database [AsmJava666]    Script Date: 6/10/2023 5:03:50 PM ******/
CREATE DATABASE [AsmJava666]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AsmJava666', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AsmJava666.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AsmJava666_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AsmJava666_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AsmJava666].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AsmJava666]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 6/10/2023 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [varchar](255) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[gmail] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[update_date] [datetime2](7) NULL,
	[id_user] [int] NULL,
	[provider] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[authorities]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[update_date] [datetime2](7) NULL,
	[role_id] [varchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [varchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [float] NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[orderid] [int] NULL,
	[productid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NULL,
	[discount] [float] NULL,
	[origninal_price] [float] NULL,
	[total_price] [float] NULL,
	[update_date] [date] NULL,
	[user_id] [int] NULL,
	[address] [nvarchar](255) NULL,
	[status_order] [nvarchar](250) NULL,
	[payments] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[available] [bit] NULL,
	[createdate] [date] NULL,
	[description] [nvarchar](4000) NULL,
	[image_urls] [varchar](4000) NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NULL,
	[rating_average] [float] NULL,
	[review_count] [int] NULL,
	[thumbnail_url] [varchar](255) NULL,
	[update_date] [date] NULL,
	[categoryid] [varchar](255) NULL,
	[discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contents] [nvarchar](255) NULL,
	[quanity_star] [float] NOT NULL,
	[product_id] [int] NULL,
	[name_reviewer] [nvarchar](50) NULL,
	[email_reviewer] [nvarchar](50) NULL,
	[user_id] [int] NULL,
	[create_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [varchar](255) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[create_date] [date] NULL,
	[full_name] [nvarchar](255) NULL,
	[gmail] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[update_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([username], [create_date], [gmail], [password], [update_date], [id_user], [provider]) VALUES (N'lala22', NULL, N'phucptpt@gmail.com', N'123', NULL, 10, NULL)
INSERT [dbo].[accounts] ([username], [create_date], [gmail], [password], [update_date], [id_user], [provider]) VALUES (N'Lalala', NULL, N'abc1@gmail.com', N'1111', NULL, 8, NULL)
INSERT [dbo].[accounts] ([username], [create_date], [gmail], [password], [update_date], [id_user], [provider]) VALUES (N'nguyenkhoinguyen1310@gmail.com', NULL, NULL, N'123', NULL, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[authorities] ON 

INSERT [dbo].[authorities] ([id], [create_date], [update_date], [role_id], [user_id]) VALUES (1, NULL, NULL, N'r1', 3)
INSERT [dbo].[authorities] ([id], [create_date], [update_date], [role_id], [user_id]) VALUES (2, NULL, NULL, N'r1', 4)
INSERT [dbo].[authorities] ([id], [create_date], [update_date], [role_id], [user_id]) VALUES (3, NULL, NULL, N'r2', 5)
SET IDENTITY_INSERT [dbo].[authorities] OFF
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (N'cate1', N'Laptop truyền thống')
INSERT [dbo].[categories] ([id], [name]) VALUES (N'cate2', N'Bàn phím thay thế Laptop')
INSERT [dbo].[categories] ([id], [name]) VALUES (N'cate3', N'Adapter sạc Laptop')
GO
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([id], [amount], [price], [quantity], [orderid], [productid]) VALUES (37, 15504000, 15504000, 1, 35, 212)
INSERT [dbo].[orderdetails] ([id], [amount], [price], [quantity], [orderid], [productid]) VALUES (38, 15504000, 15504000, 1, 36, 212)
INSERT [dbo].[orderdetails] ([id], [amount], [price], [quantity], [orderid], [productid]) VALUES (39, 4990000, 4990000, 1, 36, 213)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [create_date], [discount], [origninal_price], [total_price], [update_date], [user_id], [address], [status_order], [payments]) VALUES (35, CAST(N'2023-06-07' AS Date), NULL, 15504000, NULL, CAST(N'2023-06-07' AS Date), 4, N'', NULL, NULL)
INSERT [dbo].[orders] ([id], [create_date], [discount], [origninal_price], [total_price], [update_date], [user_id], [address], [status_order], [payments]) VALUES (36, CAST(N'2023-06-07' AS Date), NULL, 20494000, NULL, CAST(N'2023-06-07' AS Date), 4, N'', NULL, NULL)
INSERT [dbo].[orders] ([id], [create_date], [discount], [origninal_price], [total_price], [update_date], [user_id], [address], [status_order], [payments]) VALUES (37, CAST(N'2023-06-07' AS Date), NULL, 37174000, NULL, CAST(N'2023-06-07' AS Date), 4, N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [contents], [quanity_star], [product_id], [name_reviewer], [email_reviewer], [user_id], [create_date]) VALUES (26, N'dở ẹc', 2, 212, N'phuc', N'phuc@gmail.com', 3, CAST(N'2023-06-07' AS Date))
INSERT [dbo].[reviews] ([id], [contents], [quanity_star], [product_id], [name_reviewer], [email_reviewer], [user_id], [create_date]) VALUES (27, N'cũng được', 3, 212, N'nguyen', N'nguyen@gmail.com', 4, CAST(N'2023-06-07' AS Date))
INSERT [dbo].[reviews] ([id], [contents], [quanity_star], [product_id], [name_reviewer], [email_reviewer], [user_id], [create_date]) VALUES (28, N'ưng quá chừng, mai mốt mua nữa', 5, 213, N'tung', N'tung@gmail.com', 5, CAST(N'2023-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (N'r1', N'ADMIN')
INSERT [dbo].[roles] ([id], [name]) VALUES (N'r2', N'USER')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [create_date], [full_name], [gmail], [phone], [photo], [update_date]) VALUES (3, NULL, NULL, NULL, N'nguyenkhoinguyen1310@gmail.com', NULL, N'avt.png', NULL)
INSERT [dbo].[users] ([id], [address], [create_date], [full_name], [gmail], [phone], [photo], [update_date]) VALUES (4, NULL, NULL, NULL, N'phuc@gmail.com', NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [address], [create_date], [full_name], [gmail], [phone], [photo], [update_date]) VALUES (5, NULL, NULL, NULL, N'test@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK7r22heldx92indi4o80xg94iq]    Script Date: 6/10/2023 5:03:51 PM ******/
ALTER TABLE [dbo].[authorities] ADD  CONSTRAINT [UK7r22heldx92indi4o80xg94iq] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK2l5v5t94ydrd2qrdeowftjp0i] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK2l5v5t94ydrd2qrdeowftjp0i]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FK7kj74d912rytfp5su91jfv0tg] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FK7kj74d912rytfp5su91jfv0tg]
GO
ALTER TABLE [dbo].[authorities]  WITH CHECK ADD  CONSTRAINT [FKk91upmbueyim93v469wj7b2qh] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[authorities] CHECK CONSTRAINT [FKk91upmbueyim93v469wj7b2qh]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKaltatpxipsjtcih4d1h6bn0xr] FOREIGN KEY([productid])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKaltatpxipsjtcih4d1h6bn0xr]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKj4gc2ja2otvwemf4rho2lp3s8] FOREIGN KEY([orderid])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKj4gc2ja2otvwemf4rho2lp3s8]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q] FOREIGN KEY([categoryid])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK1krrsjgcawsfg8k8u4hm5gi8q]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [fk_reviews] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [fk_reviews]
GO
/****** Object:  StoredProcedure [dbo].[filterProduct]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[filterProduct](@name nvarchar(50)= '', @cid varchar(10)= '')
as
begin
if @name = '' and @cid = '' 
	select * from products
else if @name = ''
	select * from products p inner join categories c on p.categoryid = c.id
	where  @cid = c.id 
else if @cid = ''
	select * from products p inner join categories c on p.categoryid = c.id
	where p.name like N'%' + @name + N'%'
else
	select * from products p inner join categories c on p.categoryid = c.id
	where @cid = c.id and p.name like N'%' + @name + N'%'
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SpDuoc_Mua_nhieu]    Script Date: 6/10/2023 5:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SpDuoc_Mua_nhieu]
AS
BEGIN
SELECT TOP 3 sp.*
	FROM products sp
	INNER JOIN orderdetails ct on ct.productid = sp.id
	GROUP BY
        sp.id 
      , sp.available 
      , sp.createdate 
      , sp.description 
      , sp.image_urls 
      , sp.name 
      , sp.price 
      , sp.rating_average 
      , sp.review_count 
      , sp.thumbnail_url 
      , sp.update_date 
      , sp.categoryid
	  , sp.discount
 ORDER BY sum(ct.quantity) DESC
END
GO
USE [master]
GO
CREATE TRIGGER create_authority_trigger_user
ON users
AFTER INSERT
AS
BEGIN
    INSERT INTO authorities (create_date,update_date,user_id, role_id)
    SELECT CONVERT(date, GETDATE()),CONVERT(date, GETDATE()), inserted.id, 'r2' 
    FROM inserted;
END;
GO
CREATE TRIGGER updateReviewCount
ON reviews
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
   UPDATE products
   SET review_count = (
      SELECT count(product_id)
      FROM reviews
      WHERE product_id = products.id
   )
   WHERE EXISTS (
      SELECT 1
      FROM inserted
      WHERE product_id = products.id
   )
END
GO
CREATE TRIGGER updateProductRating  
ON reviews  
AFTER INSERT, UPDATE, DELETE  
AS  
BEGIN  
   UPDATE products   
   SET rating_average=(  
      SELECT AVG(quanity_star)
      FROM reviews  
      WHERE product_id = products.id 
   )  
   WHERE EXISTS (  
      SELECT 1  
      FROM inserted     
      WHERE product_id = products.id  
   )  
END
