<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authors table</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">


                <table class="table align-items-center mb-0">
                    <thead>

                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sản Phẩm
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá Sản
                                Phẩm</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Đánh giá</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Ngày tạo</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>

                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sản Phẩm</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá Sản
                            Phẩm
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Trạng Thái
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày
                            tạo
                        </th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>

                    </thead>
                    <!-- Nội dung bảng -->
                    <tbody>
                    <tr ng-repeat="item in pager.items">
                        <td class="col-4">
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img ng-src="{{item.thumbnail_url}}" class="avatar avatar-sm me-3 border-radius-lg"
                                         alt="user1">
                                </div>

                            </td>
                            <td class="col-2">
                                <p class="text-xs font-weight-bold mb-0 ">{{item.currentprice}}</p>
                                <p class="text-xs text-secondary mb-0 ">{{item.price}}</p>
                            </td>
                            <td class="align-middle text-center text-sm col-2">
                                <span class="badge badge-sm bg-gradient-success">{{item.rating_average}}</span>
                            </td>
                            <td class="align-middle text-center col-2">
                                <span class="text-secondary text-xs font-weight-bold">{{item.createDate |
                                    date:'dd-MM-yyyy' }}</span>
                            </td>
                            <td class="align-middle col-2">
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-product"
                                    class="text-secondary font-weight-bold text-xs" ng-click="edit(item)"
                                    data-toggle="tooltip" data-original-title="Edit user">
                                    Edit
                                </a>
                            </td>
                        </tr>

                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sản Phẩm</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá Sản
                            Phẩm
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Trạng Thái
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày
                            tạo
                        </th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                    </thead>
                    <!-- Nội dung bảng -->
                    <tbody>
                    <tr ng-repeat="item in pager.items">
                        <td class="col-4">
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img ng-src="{{item.thumbnail_url}}" class="avatar avatar-sm me-3 border-radius-lg"
                                         alt="user1">
                                </div>

                                <div class="d-flex flex-column justify-content-center col-width">
                                    <h6 class="mb-0 text-truncate text-sm">{{item.name}}</h6>
                                    <p class="text-xs text-truncate text-secondary mb-0">{{item.description}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="col-2">
                            <p class="text-xs font-weight-bold mb-0 ">{{item.currentprice}}</p>
                            <p class="text-xs text-secondary mb-0 ">{{item.price}}</p>
                        </td>
                        <td class="align-middle text-center text-sm col-2">
                            <span class="badge badge-sm bg-gradient-success">{{item.rating_average}}</span>

                        </td>
                        <td class="align-middle text-center col-2">
                            <span class="text-secondary text-xs font-weight-bold">{{item.createDate | date:'dd-MM-yyyy' }}</span>
                        </td>
                        <td class="align-middle col-2">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-product"
                               class="text-secondary font-weight-bold text-xs" ng-click="edit(item)"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                Edit
                            </a>
                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                               ng-click="delete(item)" data-toggle="tooltip"
                               data-original-title="Edit user">
                                Delete
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <button type="button" ng-click="pager.first()" class="btn btn-outline-primary btn-sm">First</button>
                    <button type="button" ng-click="pager.prev()" class="btn btn-outline-secondary btn-sm">Prev</button>
                    <button type="button" ng-click="pager.next()" class="btn btn-outline-secondary btn-sm">Next</button>
                    <button type="button" ng-click="pager.last()" class="btn btn-outline-primary btn-sm">Last</button>
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <button class="btn btn-danger" ng-click="pager.first()" type="button">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button class="btn btn-primary" ng-click="pager.prev()" type="button">
            <i class="fa-solid fa-backward"></i>
        </button>
        <span class="btn btn-warning">
            <i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
        </span>
        <button class="btn btn-primary" ng-click="pager.next()" type="button">
            <i class="fa-solid fa-forward"></i>
        </button>
        <button class="btn btn-danger" ng-click="pager.last()" type="button">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>

</div>
</div>