<div class="card h-100 card-responsive">
    <div class="card-header pb-0 p-3">
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                    <a id="tab-active" class="nav-link mb-0 px-0 py-1" ng-click="getOrdersByStatus('Chờ xác nhận')" >Chờ xác nhận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" ng-click="getOrdersByStatus('Đang giao')">Đang giao
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" ng-click="getOrdersByStatus('Đã giao')" >Đã giao
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" ng-click="getOrdersByStatus('Đã hủy')">Đã huỷ
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="card-body p-3 pb-0 ">


        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mã Hoá Đơn</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Người mua</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tổng giá
                        Phẩm
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Trạng Thái
                    </th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày
                        tạo
                    </th>
                    <th class="text-secondary opacity-7"></th>
                </tr>
                </thead>
                <!-- Nội dung bảng -->
                <tbody>
                <tr ng-repeat="item in items_order" ng-click="show(item)">
                    <td class="col-4">
                        <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center col-width">
                                <h6 class="mb-0 text-truncate text-sm">{{item.id}}</h6>
                                <p class="text-xs text-truncate text-secondary mb-0">{{item.address}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="col-4">
                        <div class="d-flex py-1">
                            <!--<img ng-src="/assets/user/img/{{item.user.photo}}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">-->
                            <h6>{{item.user.account.username}}</h6>
                        </div>
                    </td>
                    <td class="col-2">
                        <p class="text-xs font-weight-bold mb-0 ">{{item.origninal_price}}</p>
                        <p class="text-xs text-secondary mb-0 ">{{item.vat}}</p>
                    </td>
                    <td class="align-middle text-center text-sm col-2">
                        <span class="badge badge-sm bg-gradient-success"> {{item.status_order}}</span>
                    </td>
                    <td class="align-middle text-center text-sm col-2">
                        <span class="badge badge-sm bg-gradient-success"> {{item.createDate}}</span>
                    </td>
                   <td class="align-middle col-2">
                        <a href="javascript:;"
                           class="text-secondary font-weight-bold text-xs" ng-click="change(item)"
                           data-toggle="tooltip"
                           data-original-title="Edit user">
                            Change
                        </a>
                       <a href="javascript:;"
                          class="text-secondary font-weight-bold text-xs" ng-click="cancel(item)"
                          data-toggle="tooltip"
                          data-original-title="Edit user">
                           Cancel
                       </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
