<style>
    .col-width{
        max-width: 495px;
        white-space: nowrap;
        overflow: hidden;
    }
    .table-responsive{
        height: 500px;
    }
    .modal-dialog {
        margin-right: 300px !important;
    }
</style>
<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Authority table</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            <th ng-repeat="role in roles"
                                class="text-secondary text-xxs font-weight-bolder opacity-7">
                                {{role.name}}</th>
                        </tr>
                    </thead>
                    <!-- Nội dung bảng -->
                    <tbody>
                        <tr ng-repeat="acc in admins">
                            <td class="col-2">
                                <h6 class="mb-0 text-truncate text-sm">{{acc.gmail}}</h6>
                            </td>
                            <th ng-repeat="role in roles" class="col-2">
                                <input ng-checked="authority_of(acc, role)" ng-click="authority_changed(acc, role)" type="checkbox">
                            </th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="card-footer text-center">
            <div class="text-center">
                <button type="button" ng-click="pager.first()" class="btn btn-outline-primary btn-sm">First</button>
                <button type="button" ng-click="pager.prev()" class="btn btn-outline-secondary btn-sm">Prev</button>
                <button type="button" ng-click="pager.next()" class="btn btn-outline-secondary btn-sm">Next</button>
                <button type="button" ng-click="pager.last()" class="btn btn-outline-primary btn-sm">Last</button>
            </div>
        </div>
    </div> 
</div>
</div>
</div>




