<!-- Button trigger modal -->

<div class="btn-group btn-group-xs float-right">
    <button type="button" class="btn btn-primary">
        Chờ xác nhận
    </button>
    <button type="button" class="btn btn-secondary">
        Đang Giao
    </button>
    <button type="button" class="btn btn-success">
        Đã Giao
    </button>
    <button type="button" class="btn btn-warning">
        Đã Huỷ
    </button>


</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                            <label for="exampleFormControlFile1">
                                <img class="rounded form-group"
                                     width="150" height="150" alt="..." src="/assets/admin/images/icon/avatar-06.jpg">
                            </label>
                        </div>
                        <div class="form-group col-md-6 fade">
                            <label for="exampleFormControlFile1">Example file input</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>

                    <!--
                   <div class="form-group col-md-6">
                        <label for="inputID">ID</label>
                        <input type="text" class="form-control form-control-sm" id="inputID">
                    </div>
                    -->
                    <div class="form-group">
                        <label for="inputFullName"> Full Name</label>
                        <input type="text" class="form-control form-control-sm" id="inputFullName" ng-model="">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputUsername">User Name</label>
                            <input type="text" class="form-control form-control-sm" id="inputUsername" ng-model="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPass">Password</label>
                            <input type="password" class="form-control form-control-sm" id="inputPass" ng-model="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCreDate">Create Date</label>
                            <input type="date" class="form-control form-control-sm" id="inputCreDate"
                                   placeholder="dd/MM/yyy" ng-model="form.createDate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputUpDay">Update Date</label>
                            <input type="date" class="form-control form-control-sm" id="inputUpDay" ng-model="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control form-control-sm" id="inputEmail" ng-model="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPhone">Phone</label>
                            <input type="text" class="form-control form-control-sm" id="inputPhone" ng-model="">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="inputAddress">Address</label>
                        <textarea type="text" class="form-control form-control-sm" id="inputAddress"
                                  placeholder="Addresss . . ." ng-model=""></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="create()" class="btn btn-success" data-dismiss="modal">Add</button>
                <button type="button" ng-click="update()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>





















