<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: dynamic(~{::main})}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electro - HTML Ecommerce Template</title>

    <style>
        /* Media query for mobile viewport */
        @media screen and (max-width: 400px) {
            #paypal-button-container {
                width: 100%;
            }
        }

        /* Media query for desktop viewport */
        @media screen and (min-width: 400px) {
            #paypal-button-container {
                width: 250px;
            }
        }
    </style>
</head>
<body>
<main>
    <div th:replace="~{/cart/view::shopping_cart}"></div>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="hidden" th:value="${userId}" id="id"/>
                        </div>
                        <div class="form-group">
                            <label>Recipient</label>
                            <div class="form-control">[[${#request.remoteUser}]]</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Date</label>
                            <div class="form-control">{{order.createDate|date:'dd-MM-yyyy'}}</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <textarea ng-model="order.address" class="form-control" id="exampleFormControlTextarea1"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input id="phone" class="input" type="tel" name="tel" placeholder="Telephone">
                        </div>
                    </div>
                    <!-- /Billing Details -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Order Notes"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">

                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products" ng-repeat="item in cart.items">
                            <div class="order-col">
                                <div>{{item.qty}}x {{item.name}}</div>
                                <div>{{item.currentprice*item.qty|number:2}}</div>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div>VAT</div>
                            <div><strong>10%</strong></div>
                        </div>

                        <div class="order-col">
                            <div><strong>ORIGINAL</strong></div>

                            <div><strong id="origninal_price" name="price"
                                         class="order-total">{{cart.amount|number:2}}</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong id="total_price"
                                         class="order-total">{{cart.total_price|number:2}}</strong></div>
                        </div>
                    </div>
                    <input type="hidden" ng-model="order.vat">
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1" value="VNPAY" ng-model="order.payments">
                            <label for="payment-1">
                                <span></span>
                                Thanh toán qua thẻ tín dụng
                            </label>
                            <div class="caption">
                                <p>Thanh toán trả trước.</p> <br>

                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2" value="COD" ng-model="order.payments">
                            <label for="payment-2">
                                <span></span>
                                Thanh toán khi nhận hàng.
                            </label>
                            <div class="caption">
                                <p>Sau khi shipper giao hàng, người mua có thể kiểm tra đơn hàng và sau đó thanh
                                    toán.</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <a href="#" ng-click="order.purchase()" class="primary-btn order-submit">Place order</a>
                </div>
                </form>
                <!-- /Order Details -->
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </div>
</main>

</body>
</html>
