<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout :: dynamic(~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<style>
    body {
        background: #eecda3;
        background: -webkit-linear-gradient(to right, #eecda3, #cc769b);
        background: linear-gradient(to right, #eecda3, #b7728f);
        min-height: 100vh;
        margin: 0 auto;
    }
</style>
<body>
<main>
    <div class="px-4 px-lg-0" th:fragment="shopping_cart">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 text-uppercase">Image</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 text-uppercase">Name</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Price</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Quantity</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Amount</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Remove</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in cart.items">
                                    <td scope="row" class="border-0">
                                        <div class="p-2">
                                            <img src="/assert/user/img/{{item.image}}" alt="" width="70" class="img-fluid rounded shadow-sm">

                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{item.name}}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: {{item.category.name}}</span>
                                        </div>
                                    </td>
                                    <td class="border-0 align-middle"><strong>${{item.price|number:2}}</strong></td>
                                    <td class="border-0 align-middle"><strong><input
                                            ng-change="cart.saveToLocalStorage()" ng-model="item.qty"
                                            class="form-control text-center" type="number" min="1"></strong></td>
                                    <td class="border-0 align-middle"><strong>${{item.price*item.qty|number:2}}</strong></td>
                                    <td class="border-0 align-middle"><button ng-click="cart.remove(item.id)"
                                                                              class="btn btn-outline-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- End -->
                    </div>
                    <div class="card-footer text-end">
                        <button ng-click="cart.clear()" type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i> Clear
                        </button>
                        <a th:href="@{/order/checkout}" class="btn btn-primary">Checkout
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>