<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="animsition">
<div class="page-wrapper">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">


























                <div class="row">
                    <div class="col-md-12">

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="home" class="container tab-pane active"><br>
                                <div class="card mb-4">
                                    <h5 class="card-header">Product Details</h5>
                                    <!-- Account -->
                                    <div class="card-body">
                                        <div class="d-flex align-items-start align-items-sm-center gap-4 image-account-mg">
                                            <img class="d-block img-account" height="210" width="181" id="uploadedAvatar">
                                            <div class="button-wrapper col-sm-12">
                                                <label for="image" class="btn btn-primary me-2 mb-4" tabindex="0">
                                            <span class="d-none d-sm-block">
                                                   <i class="bx bx-cloud-upload">Img</i>
                                            </span>
                                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                                    <input type="file" id="image" onchange="angular.element(this).scope().imageChanged(this.files)" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                                </label>
                                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 10mb</p>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="my-0">
                                    <div class="card-body">
                                        <form id="formAccountSettings" method="POST" onsubmit="return false" name="frmacc" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-valid-minlength ng-valid-email">
                                            <div class="row">
                                                <div class="mb-3 col-md-6">
                                                    <label class="col-sm-6 col-form-label" for="basic-icon-default-fullname">Product Name</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                                        <i class="bx bxs-user-plus"></i></span>
                                                            <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" ng-model="form.username" name="username" maxlength="50" ng-pattern="/^[a-zA-Z0-9 ._-]+$/" type="text" id="username" placeholder="Enter product name..." aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" required="">
                                                        </div>
                                                    </div>
                                                    <span style="color: red" class="failure ng-hide" ng-show="frmacc.username.$error.pattern">
                                                You cannot enter special characters!!!
                                            </span>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="col-sm-6 col-form-label" for="basic-icon-default-fullname">Price</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                                        <i class="bx bxs-user-detail"></i></span>
                                                            <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-touched ng-untouched" ng-model="form.fullName" name="fullName" minlength="5" maxlength="25" ng-pattern="/^([a-zA-Z'\s])+$/" type="text" id="basic-icon-default-fullname" placeholder="Enter price..." aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" required="">
                                                        </div>
                                                    </div>
                                                    <span style="color: red" id="fullname" class="failure ng-hide" ng-show="frmacc.fullName.$error.pattern">
                                                Please full name enter at least 5 characters or more</span>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="col-sm-6 form-label" for="basic-icon-default-phone">Category</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                                        <i class="bx bx-phone"></i></span>
                                                            <select class="js-select2" name="property">
                                                                <option selected="selected" value="All Properties">All Properties</option>
                                                                <option value="">Option 1</option>
                                                                <option value="">Option 2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <span style="color:Red" ng-show="frmacc.phone.$dirty&amp;&amp;frmacc.phone.$error.pattern" class="ng-hide">
                                                Your phone number is not valid!</span>
                                                </div>
                                                <div class="mb-3 col-md-6">
                                                    <label class="col-sm-6 form-label" for="basic-icon-default-phone">Tools</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                                        <i class="bx bxs-key"></i></span>
                                                            <input ng-model="form.password" name="password" type="password" id="basic-icon-default-phone" class="form-control phone-mask ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength" placeholder="" aria-label="" aria-describedby="basic-icon-default-phone2" maxlength="255" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&amp;])[A-Za-z\d$@$!%*#?&amp;]{6,}$/" required="">
                                                        </div>
                                                    </div>
                                                    <span style="color: red" class="failure ng-hide" ng-show="frmacc.password.$error.pattern">
                                                Must have at least 6 characters and should contain one number
                                                ,one character and one special character</span>
                                                </div>


                                                <div class="mb-3 col-md-6">
                                                    <label class="col-sm-6 col-form-label" for="basic-icon-default-fullname">Address</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-fullname2" class="input-group-text">
                                                        <i class="bx bx-building-house"></i></span>
                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="form.address" name="address" type="text" id="basic-icon-default-fullname" placeholder="Enter your address..." aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="mb-3 col-md-6 activeck">
                                                    <label>Active</label>
                                                    <div class="form-check form-switch">
                                                        <input ng-model="form.active" class="form-check-input ng-pristine ng-untouched ng-valid ng-empty" type="checkbox" id="flexSwitchCheckDefault">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="mt-2">
                                                <button ng-click="createAccount()" class="btn btn-outline-primary me-2"><i class="bx bxs-add-to-queue"></i>Create</button>
                                                <button ng-click="updateAccount()" class="btn btn-outline-warning me-2"><i class="bx bx-save"></i>Update</button>
                                                <button ng-click="reset()" class="btn btn-outline-secondary"><i class="bx bx-refresh"></i>Reset</button>
                                                <!-- ngIf: form.active -->
                                            </div>
                                        </form>
                                        <div id="id02" class="modal">
                                            <div class="modal-content2">
                                                <div class="modal-header1">
                                                    <h5 class="modal-title1" id="exampleModalLabel2">Please write the reason for banned accounts:</h5>
                                                </div>
                                                <div class="modal-body1">
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                    <span id="basic-icon-default-description" class="input-group-text">
                                                        <i class="bx bx-building-house"></i></span>
                                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="description" name="description" type="text" id="basic-icon-default-description" placeholder="Enter your reason..." aria-label="John Doe" aria-describedby="basic-icon-default-description">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer1">
                                                    <button onclick="document.getElementById('id02').style.display='none'" type="button" class="btn btn-outline-secondary">
                                                        Close
                                                    </button>
                                                    <button ng-click="deleteAccount(form.username)" onclick="document.getElementById('id02').style.display='none'" type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /Account -->
                                </div>

                            </div>
                            <div id="menu1" class="container tab-pane fade"><br>
                                <div class="card">
                                    <div style="margin-top: 16px;margin-left: 16px" class="navbar-nav align-items-left">
                                        <div class="nav-item d-flex align-items-left">
                                            <i class="bx bx-search fs-4 lh-0"></i>
                                            <input ng-model="searchtxt" type="text" class="form-control border-0 shadow-none ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search..." aria-label="Search...">
                                        </div>
                                    </div>
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center" ng-click="sortColumn(&quot;username&quot;)" ng-class="sortClass(&quot;username&quot;)">Username</th>
                                                <th class="text-center" ng-click="sortColumn(&quot;fullName&quot;)" ng-class="sortClass(&quot;fullName&quot;)">Full name</th>
                                                <th class="text-center">Phone</th>
                                                <th class="text-center">Balance</th>
                                                <th class="text-center">Role</th>
                                                <th class="text-center">Active</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                            <!-- ngRepeat: account in pager.accounts | filter: searchtxt |orderBy:column:reverse -->
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="demo-inline-spacing">
                                    <!-- Basic Pagination -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li class="page-item first" ng-click="pager.first()">
                                                <a class="page-link"><i class="tf-icon bx bx-chevrons-left"></i></a>
                                            </li>
                                            <li class="page-item prev" ng-click="pager.previous()">
                                                <a class="page-link"><i class="tf-icon bx bx-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link ng-binding">1 of 0</a>
                                            </li>
                                            <li class="page-item next" ng-click="pager.next()">
                                                <a class="page-link"><i class="tf-icon bx bx-chevron-right"></i></a>
                                            </li>
                                            <li class="page-item last" ng-click="pager.last()">
                                                <a class="page-link"><i class="tf-icon bx bx-chevrons-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!--/ Basic Pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>














                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Danh sách sản phẩm</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Option 1</option>
                                        <option value="">Option 2</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">Today</option>
                                        <option value="">3 Days</option>
                                        <option value="">1 Week</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                            </div>
                            <div class="table-data__tool-right">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>add item</button>
                                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                    <select class="js-select2" name="type">
                                        <option selected="selected">Export</option>
                                        <option value="">Option 1</option>
                                        <option value="">Option 2</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
<!--                                    <th scope="col">Image</th>-->
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Tools</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-shadow" ng-repeat="p in pager.items">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
<!--                                    <td ><img src="{{p.thumbnail_url}}" alt="" width="170" class="img-fluid rounded shadow-sm"></td>-->
<!--                                    <td th:src="@{|${p.thumbnail_url}|}"></td>-->
                                    <td>
                                        <span class="block-email">{{p.name}}</span>
                                    </td>
                                    <td class="desc">{{p.price|number:2}}</td>
                                    <td class="desc">{{p.createDate|date:'dd-MM-yyyy'}}</td>
                                    <td>
                                        <span class="status--process">{{p.category.name}}</span>
                                    </td>

                                    <td>
                                        <div class="table-data-feature">

                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                <i class="zmdi zmdi-more"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="card-footer text-center">
    <button class="btn btn-danger" ng-click="pager.first()" type="button">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </button>
    <button class="btn btn-primary" ng-click="pager.prev()" type="button">
        <i class="fa-solid fa-backward"></i>
    </button>
    <span class="btn btn-warning">
			<i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
		</span>
    <button class="btn btn-primary" ng-click="pager.next()" type="button">
        <i class="fa-solid fa-forward"></i>
    </button>
    <button class="btn btn-danger" ng-click="pager.last()" type="button">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </button>
</div>



</body>
</html>