<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Account Manager</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">


                <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hình ảnh</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Họ
                            và tên
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên
                            tài khoản
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Email
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Địa
                            chỉ
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-6">Công
                            cụ
                        </th>
                    </tr>
                    </thead>
                    <!-- Nội dung bảng -->
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td class="align-middle text-center col-2">
                            <div class="d-flex">
                                <div>
                                    <img ng-src="/assets/user/img/{{item.photo}}"
                                         class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div>
                            </div>
                        </td>
                        <td class="align-middle text-center col-2">
                            <h6 class="mb-0 text-truncate text-sm">{{item.fullName}}</h6>
                        </td>
                        <td class="align-middle text-center col-2">
                            <h6 class="mb-0 text-truncate text-sm">{{item.account.username}}</h6>
                        </td>
                        <td class="align-middle text-center col-2">
                            <p class="text-xs font-weight-bold mb-0 ">{{item.gmail}}</p>
                        </td>
                        <td class="align-middle text-center col-2"> <span
                                class="text-secondary text-xs font-weight-bold">{{item.address}}</span>
                        </td>
                        <td class="align-middle text-center col-2">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-product"
                               class="text-secondary font-weight-bold text-xs" ng-click="edit(item)"
                               data-toggle="tooltip"
                               data-original-title="Edit user">
                                Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-danger" ng-click="pager.first()" type="button">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
        <button class="btn btn-primary" ng-click="pager.prev()" type="button">
            <i class="fa-solid fa-backward"></i>
        </button>
        <span class="btn btn-warning">
			<i class="fa-solid fa-download"></i> {{pager.page+1}} of {{pager.count}}
		</span>
        <button class="btn btn-primary" ng-click="pager.next()" type="button">
            <i class="fa-solid fa-forward"></i>
        </button>
        <button class="btn btn-danger" ng-click="pager.last()" type="button">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>
</div>
</div>

